body{
    
    background:#000;
}
.box{
    border-radius:3px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:750px;
    height: 560px;
    background:white;
    overflow: hidden;
}
.text{
    color:white;
    position: absolute;
    top: 32px;
    left: 55px;
  
}
.text h1{
font-size:25px;
margin-bottom: 20px;
}
.text p{
    color:rgb(228, 228, 228);
    opacity:0.9;
    font-size:13px;
    letter-spacing: 1px;
}
.box1{
    background:url(//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/login_img_dec4bf.png);
    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
   background-color:#2874f0;
}
.box2 .user-id{
    position: relative;
    left:20px;
    top:50px;
    padding:10px 20px;
    
}
.box2 .user-id input{
    width:100%;
    height: 40px; 
}
.box2  .user-data input {
    color:black;
    border:none;
    border-bottom:1px solid rgb(228, 228, 228);
    outline:none;
    background:none;
    transition: 0.5s;
    margin-bottom:20px;

    
}
.box2 .user-data label{
    color:rgb(158, 154, 154);
    padding:10px 20px;
    position: absolute;;
    top: 6px;
    left: 0;
    font-size:18px;
    font-weight:400;
    pointer-events: none;
    transition:0.5s;
    
}
.box2 .user-data input:focus ~ label,
.box2 .user-data input:valid ~ label{
    top:-20px;
    font-size:12px;
   
}
.box2 .user-data input:focus{
    border-bottom:1px solid #2874f0;
}
.box2  span a{
    position: absolute;
    top: 140px;
    left: 315px;
    display:inline;
    color:#2874f0;
    font-weight: 600;
}
.box2  .button input{
    height:50px;
    font-size:18px;
    border:none;
    background:#fff;
    
}
.user-id p{
    margin:0;
    margin-left:148px;
    color:rgb(173, 173, 173);
}

.user-id .footer a{
    position: absolute;
    top: 115px;
    left: 51px;
    font-weight:600;
    color:#2874f0;
}
.t1{
    margin:0;
    color:rgb(173, 173, 173);
    margin-left:35px;
    margin-top: 10px;
}
